@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  background-color: steelblue;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.fill {
  background-image: url("https://source.unsplash.com/random/150x150");
  cursor: pointer;
  height: 145px;
  width: 145px;
}

.hold {
  border: solid 5px #ccc;
}

.hover {
  background-color: #333;
  border-color: #fff;
  border-style: dashed;
}

.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: solid 3px black;
  background: white;
}

@media (max-width: 880px) {
  body {
    flex-direction: column;
  }
}
